USE [master]
GO
/****** Object:  Database [FinalProject]    Script Date: 2021/9/3 下午 09:15:54 ******/
CREATE DATABASE [FinalProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FinalProject', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FinalProject.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FinalProject_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FinalProject_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FinalProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FinalProject]
GO
/****** Object:  UserDefinedFunction [dbo].[getChainsEmployeeID]    Script Date: 2021/9/3 下午 09:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Jeff HUANG>
-- Create date: <Create Date, 20210812>
-- Description:	<Description, Chains Employee ID Maker>
-- =============================================
CREATE FUNCTION [dbo].[getChainsEmployeeID]()

RETURNS varchar(10)
AS
BEGIN
	DECLARE @employeeID varchar(20)
    DECLARE @date varchar(20)

	SELECT @date = CONVERT(varchar(4), GETDATE(), 112)
	SELECT @employeeID = @date + '-' + RIGHT('000' + RTRIM(ISNULL(MAX(CAST(RIGHT(c.EmployeeID, 4) AS int)), 0) + 1), 4)
    FROM ChainsEmployees c
    WHERE LEFT( c.EmployeeID, 4 ) = @date

    RETURN @employeeID

END
GO
/****** Object:  UserDefinedFunction [dbo].[getCustomerOrderNo]    Script Date: 2021/9/3 下午 09:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Jeff HUANG>
-- Create date: <Create Date, 20210812>
-- Description:	<Description, Customer OrderID Maker>
-- =============================================
CREATE FUNCTION [dbo].[getCustomerOrderNo]()

RETURNS varchar(20)
AS
BEGIN
	DECLARE @orderNo varchar(20)
    DECLARE @date varchar(20)

	SELECT @date = CONVERT(varchar(8), GETDATE(), 112)
	SELECT @orderNo = @date + '-' + RIGHT('00' + RTRIM(ISNULL(MAX(CAST(RIGHT(c.OrderNo, 3) AS int)), 0) + 1), 3)
    FROM CustomerOrders c
    WHERE LEFT( c.OrderNo, 8 ) = @date

    RETURN @orderNo

END
GO
/****** Object:  UserDefinedFunction [dbo].[getHeadquartersEmployeeID]    Script Date: 2021/9/3 下午 09:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Jeff HUANG>
-- Create date: <Create Date, 20210812>
-- Description:	<Description, Customer OrderID Maker>
-- =============================================
CREATE FUNCTION [dbo].[getHeadquartersEmployeeID]()

RETURNS varchar(10)
AS
BEGIN
	DECLARE @employeeID varchar(20)
    DECLARE @date varchar(20)

	SELECT @date = CONVERT(varchar(4), GETDATE(), 112)
	SELECT @employeeID = @date + '-' + RIGHT('000' + RTRIM(ISNULL(MAX(CAST(RIGHT(h.EmployeeID, 4) AS int)), 0) + 1), 4)
    FROM HeadquartersEmployees h
    WHERE LEFT( h.EmployeeID, 4 ) = @date

    RETURN @employeeID

END
GO
/****** Object:  UserDefinedFunction [dbo].[getLogisticsOrderNo]    Script Date: 2021/9/3 下午 09:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Jeff HUANG>
-- Create date: <Create Date, 20210812>
-- Description:	<Description, Logistics OrderID Maker>
-- =============================================
CREATE FUNCTION [dbo].[getLogisticsOrderNo]()

RETURNS varchar(20)
AS
BEGIN
	DECLARE @LNo varchar(20)
    DECLARE @date varchar(20)

	SELECT @date = 'L' + CONVERT(varchar(8), GETDATE(), 112)
	SELECT @LNo = @date + '-' + RIGHT('00' + RTRIM(ISNULL(MAX(CAST(RIGHT(l.LNo, 3) AS int)), 0) + 1), 3)
    FROM LogisticsOrders l
    WHERE LEFT( l.LNo, 9 ) = @date

    RETURN @LNo

END
GO
/****** Object:  UserDefinedFunction [dbo].[getSalesOrderNo]    Script Date: 2021/9/3 下午 09:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Jeff HUANG>
-- Create date: <Create Date, 20210812>
-- Description:	<Description, Sales Order SNo Maker>
-- =============================================
CREATE FUNCTION [dbo].[getSalesOrderNo]()

RETURNS varchar(20)
AS
BEGIN
	DECLARE @SNo varchar(20)
    DECLARE @date varchar(20)

	SELECT @date = 'S' + CONVERT(varchar(8), GETDATE(), 112)
	SELECT @SNo = @date + '-' + RIGHT('00' + RTRIM(ISNULL(MAX(CAST(RIGHT(s.SNo, 3) AS int)), 0) + 1), 3)
    FROM SalesOrders s
    WHERE LEFT( s.SNo, 9 ) = @date

    RETURN @SNo

END
GO
/****** Object:  UserDefinedFunction [dbo].[getWarehouseOrderNo]    Script Date: 2021/9/3 下午 09:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Jeff HUANG>
-- Create date: <Create Date, 20210812>
-- Description:	<Description, Warehouse Order WNo Maker>
-- =============================================
CREATE FUNCTION [dbo].[getWarehouseOrderNo]()

RETURNS varchar(20)
AS
BEGIN
	DECLARE @WNo varchar(20)
    DECLARE @date varchar(20)

	SELECT @date = 'W' + CONVERT(varchar(8), GETDATE(), 112)
	SELECT @WNo = @date + '-' + RIGHT('00' + RTRIM(ISNULL(MAX(CAST(RIGHT(W.WNo, 3) AS int)), 0) + 1), 3)
    FROM WarehouseOrders w
    WHERE LEFT( w.WNo, 9 ) = @date

    RETURN @WNo

END
GO
/****** Object:  Table [dbo].[ChainsEmployees]    Script Date: 2021/9/3 下午 09:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChainsEmployees](
	[EmployeeID] [nvarchar](50) NOT NULL,
	[EmployeeName] [nvarchar](50) NOT NULL,
	[EmployeePhone] [nvarchar](50) NOT NULL,
	[BranchNo] [nvarchar](50) NOT NULL,
	[Account] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[ActGUID] [uniqueidentifier] NULL,
	[ActTime] [datetime] NULL,
 CONSTRAINT [PK_ChainsEmployees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerOrderDetails]    Script Date: 2021/9/3 下午 09:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerOrderDetails](
	[OrderNo] [varchar](20) NOT NULL,
	[ItemNo] [varchar](10) NOT NULL,
	[ItemCount] [int] NOT NULL,
	[ItemPrice] [int] NOT NULL,
	[WetherStock] [varchar](1) NULL,
	[Remark] [varchar](500) NULL,
 CONSTRAINT [PK_CustomerOrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderNo] ASC,
	[ItemNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerOrders]    Script Date: 2021/9/3 下午 09:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerOrders](
	[OrderNo] [varchar](20) NOT NULL,
	[OrderEmployeeID] [varchar](10) NOT NULL,
	[OrderBranch] [varchar](10) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[PreShipmentDate] [datetime] NULL,
	[ShipmentDate] [datetime] NULL,
	[ArriveDate] [datetime] NULL,
	[Remark] [varchar](500) NULL,
	[OrderStatus] [int] NULL,
 CONSTRAINT [PK_CustomOrder] PRIMARY KEY CLUSTERED 
(
	[OrderNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeadquartersEmployees]    Script Date: 2021/9/3 下午 09:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeadquartersEmployees](
	[EmployeeID] [nvarchar](10) NOT NULL,
	[EmployeeName] [nvarchar](50) NOT NULL,
	[EmployeeAccount] [nvarchar](50) NOT NULL,
	[EmployeePassword] [nvarchar](50) NOT NULL,
	[Department] [nvarchar](50) NULL,
	[Section] [nvarchar](5) NULL,
	[EmployeeLevel] [nvarchar](1) NOT NULL,
	[EmployeePhone] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 2021/9/3 下午 09:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ItemNo] [varchar](10) NOT NULL,
	[Category] [int] NOT NULL,
	[ItemName] [varchar](50) NOT NULL,
	[StockCount] [int] NOT NULL,
	[ItemPrice] [int] NOT NULL,
 CONSTRAINT [PK_Goods] PRIMARY KEY CLUSTERED 
(
	[ItemNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesOrders]    Script Date: 2021/9/3 下午 09:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrders](
	[SNo] [varchar](20) NOT NULL,
	[OrderNo] [varchar](20) NOT NULL,
	[SalesNo] [varchar](10) NOT NULL,
	[SalesProcessDate] [datetime] NOT NULL,
	[SalesCheck] [varchar](1) NULL,
	[SalesManagerNo] [varchar](10) NOT NULL,
	[SalesManagerProcessDate] [datetime] NULL,
	[SalesManagerCheck] [varchar](1) NULL,
	[Remark] [varchar](500) NULL,
 CONSTRAINT [PK_SalesOrders] PRIMARY KEY CLUSTERED 
(
	[SNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarehouseOrders]    Script Date: 2021/9/3 下午 09:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarehouseOrders](
	[WNo] [varchar](20) NOT NULL,
	[SNo] [varchar](20) NOT NULL,
	[OrderNo] [varchar](20) NOT NULL,
	[WarehouseNo] [varchar](10) NOT NULL,
	[WarehouseProcessDate] [datetime] NOT NULL,
	[WarehouseCheck] [varchar](1) NULL,
	[WarehouseManagerNo] [varchar](10) NOT NULL,
	[WarehouseManagerProcessDate] [datetime] NULL,
	[WarehouseManagerCheck] [varchar](1) NULL,
	[Remark] [varchar](500) NULL,
 CONSTRAINT [PK_WarehouseOrders] PRIMARY KEY CLUSTERED 
(
	[WNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChainsEmployees] ([EmployeeID], [EmployeeName], [EmployeePhone], [BranchNo], [Account], [Password], [ActGUID], [ActTime]) VALUES (N'2021-0001', N'北區員工一', N'0222224444', N'N01', N'test01', N'test01', N'01b025bb-5a1d-422d-865c-288269b500dc', CAST(N'2021-09-03T14:47:37.617' AS DateTime))
INSERT [dbo].[ChainsEmployees] ([EmployeeID], [EmployeeName], [EmployeePhone], [BranchNo], [Account], [Password], [ActGUID], [ActTime]) VALUES (N'2021-0002', N'北區員工二', N'0222224444', N'N01', N'test02', N'test02', N'9df9a7a3-8fe0-4764-9fef-6f53e0acb8b0', CAST(N'2021-08-30T21:56:19.673' AS DateTime))
INSERT [dbo].[ChainsEmployees] ([EmployeeID], [EmployeeName], [EmployeePhone], [BranchNo], [Account], [Password], [ActGUID], [ActTime]) VALUES (N'2021-0003', N'南區員工一', N'077778888', N'S01', N'test03', N'test03', N'6cd9381a-855d-4b4d-ab35-017b06437b3d', CAST(N'2021-09-01T13:05:50.377' AS DateTime))
GO
INSERT [dbo].[CustomerOrderDetails] ([OrderNo], [ItemNo], [ItemCount], [ItemPrice], [WetherStock], [Remark]) VALUES (N'20210830-001', N'F004', 300, 80, N'Y', N'菜梗少')
INSERT [dbo].[CustomerOrderDetails] ([OrderNo], [ItemNo], [ItemCount], [ItemPrice], [WetherStock], [Remark]) VALUES (N'20210830-001', N'M001', 300, 2000, N'Y', N'新鮮溫體豬')
INSERT [dbo].[CustomerOrderDetails] ([OrderNo], [ItemNo], [ItemCount], [ItemPrice], [WetherStock], [Remark]) VALUES (N'20210830-002', N'S001', 100, 400, N'Y', N'')
GO
INSERT [dbo].[CustomerOrders] ([OrderNo], [OrderEmployeeID], [OrderBranch], [OrderDate], [PreShipmentDate], [ShipmentDate], [ArriveDate], [Remark], [OrderStatus]) VALUES (N'20210830-001', N'2021-0001', N'N01', CAST(N'2021-08-30T19:48:24.000' AS DateTime), CAST(N'2021-09-06T19:48:24.000' AS DateTime), CAST(N'2021-08-30T21:35:11.427' AS DateTime), CAST(N'2021-08-30T21:40:50.977' AS DateTime), N'客戶:狀況1-1/r/n銷售部門:金額過高，下次請注意/r/n倉儲單位:', 1)
INSERT [dbo].[CustomerOrders] ([OrderNo], [OrderEmployeeID], [OrderBranch], [OrderDate], [PreShipmentDate], [ShipmentDate], [ArriveDate], [Remark], [OrderStatus]) VALUES (N'20210830-002', N'2021-0002', N'N01', CAST(N'2021-08-30T21:48:17.000' AS DateTime), CAST(N'2021-09-06T21:48:17.000' AS DateTime), CAST(N'2021-08-30T21:50:06.900' AS DateTime), CAST(N'2021-08-30T21:51:25.347' AS DateTime), N'客戶:狀況1-2/r/n銷售部門:/r/n倉儲單位:', 1)
INSERT [dbo].[CustomerOrders] ([OrderNo], [OrderEmployeeID], [OrderBranch], [OrderDate], [PreShipmentDate], [ShipmentDate], [ArriveDate], [Remark], [OrderStatus]) VALUES (N'20210901-001', N'2021-0003', N'S01', CAST(N'2021-09-01T13:03:05.000' AS DateTime), CAST(N'2021-09-08T13:03:05.000' AS DateTime), CAST(N'2021-09-01T13:05:13.790' AS DateTime), CAST(N'2021-09-01T13:05:35.447' AS DateTime), N'客戶:狀況2-1/r/n銷售部門:/r/n倉儲單位:', 1)
GO
INSERT [dbo].[HeadquartersEmployees] ([EmployeeID], [EmployeeName], [EmployeeAccount], [EmployeePassword], [Department], [Section], [EmployeeLevel], [EmployeePhone]) VALUES (N'2021-0001', N'銷北主', N'sales01', N'sales01', N'Sales', N'S01', N'2', N'22222222#001')
INSERT [dbo].[HeadquartersEmployees] ([EmployeeID], [EmployeeName], [EmployeeAccount], [EmployeePassword], [Department], [Section], [EmployeeLevel], [EmployeePhone]) VALUES (N'2021-0008', N'銷北員', N'sales02', N'sales02', N'Sales', N'S01', N'1', N'22222222#002')
INSERT [dbo].[HeadquartersEmployees] ([EmployeeID], [EmployeeName], [EmployeeAccount], [EmployeePassword], [Department], [Section], [EmployeeLevel], [EmployeePhone]) VALUES (N'2021-0002', N'銷南主', N'sales03', N'sales03', N'Sales', N'S02', N'2', N'7777777#001')
GO
INSERT [dbo].[Items] ([ItemNo], [Category], [ItemName], [StockCount], [ItemPrice]) VALUES (N'F001', 2, N'小白菜', 1500, 80)
INSERT [dbo].[Items] ([ItemNo], [Category], [ItemName], [StockCount], [ItemPrice]) VALUES (N'F002', 2, N'青江菜', 2000, 80)
INSERT [dbo].[Items] ([ItemNo], [Category], [ItemName], [StockCount], [ItemPrice]) VALUES (N'F003', 2, N'萵苣', 2000, 80)
GO
INSERT [dbo].[SalesOrders] ([SNo], [OrderNo], [SalesNo], [SalesProcessDate], [SalesCheck], [SalesManagerNo], [SalesManagerProcessDate], [SalesManagerCheck], [Remark]) VALUES (N'S20210830-001', N'20210830-001', N'2021-0008', CAST(N'2021-08-30T19:49:13.633' AS DateTime), N'Y', N'2021-0001', CAST(N'2021-08-30T19:49:38.760' AS DateTime), N'Y', N'2021-0008 備註: OK /r/n2021-0001 備註: OK /r/n')
INSERT [dbo].[SalesOrders] ([SNo], [OrderNo], [SalesNo], [SalesProcessDate], [SalesCheck], [SalesManagerNo], [SalesManagerProcessDate], [SalesManagerCheck], [Remark]) VALUES (N'S20210830-002', N'20210830-002', N'2021-0008', CAST(N'2021-08-30T21:48:45.993' AS DateTime), N'Y', N'2021-0001', CAST(N'2021-08-30T21:49:10.673' AS DateTime), N'Y', N'2021-0008 備註: OK /r/n2021-0001 備註: OK /r/n')
INSERT [dbo].[SalesOrders] ([SNo], [OrderNo], [SalesNo], [SalesProcessDate], [SalesCheck], [SalesManagerNo], [SalesManagerProcessDate], [SalesManagerCheck], [Remark]) VALUES (N'S20210901-001', N'20210901-001', N'2021-0009', CAST(N'2021-09-01T13:03:41.170' AS DateTime), N'Y', N'2021-0002', CAST(N'2021-09-01T13:03:56.970' AS DateTime), N'Y', N'2021-0009 備註: OK /r/n2021-0002 備註: OK /r/n')
GO
INSERT [dbo].[WarehouseOrders] ([WNo], [SNo], [OrderNo], [WarehouseNo], [WarehouseProcessDate], [WarehouseCheck], [WarehouseManagerNo], [WarehouseManagerProcessDate], [WarehouseManagerCheck], [Remark]) VALUES (N'W20210830-001', N'S20210830-001', N'20210830-001', N'2021-0012', CAST(N'2021-08-30T19:50:09.393' AS DateTime), N'Y', N'2021-0003', CAST(N'2021-08-30T21:35:11.420' AS DateTime), N'Y', N'2021-0008 備註: OK /r/n2021-0001 備註: OK /r/n2021-0012: OK/r/n2021-0003: OK/r/n')
INSERT [dbo].[WarehouseOrders] ([WNo], [SNo], [OrderNo], [WarehouseNo], [WarehouseProcessDate], [WarehouseCheck], [WarehouseManagerNo], [WarehouseManagerProcessDate], [WarehouseManagerCheck], [Remark]) VALUES (N'W20210830-002', N'S20210830-002', N'20210830-002', N'2021-0012', CAST(N'2021-08-30T21:49:32.867' AS DateTime), N'Y', N'2021-0003', CAST(N'2021-08-30T21:50:06.897' AS DateTime), N'Y', N'2021-0008 備註: OK /r/n2021-0001 備註: OK /r/n2021-0012: OK/r/n2021-0003: OK/r/n')
INSERT [dbo].[WarehouseOrders] ([WNo], [SNo], [OrderNo], [WarehouseNo], [WarehouseProcessDate], [WarehouseCheck], [WarehouseManagerNo], [WarehouseManagerProcessDate], [WarehouseManagerCheck], [Remark]) VALUES (N'W20210901-001', N'S20210901-001', N'20210901-001', N'2021-0011', CAST(N'2021-09-01T13:04:30.757' AS DateTime), N'Y', N'2021-0004', CAST(N'2021-09-01T13:05:13.790' AS DateTime), N'Y', N'2021-0009 備註: OK /r/n2021-0002 備註: OK /r/n2021-0011: OK/r/n2021-0004: OK/r/n')
GO
ALTER TABLE [dbo].[ChainsEmployees] ADD  CONSTRAINT [DF_ChainsEmployees_EmployeeID]  DEFAULT ([dbo].[getChainsEmployeeID]()) FOR [EmployeeID]
GO
ALTER TABLE [dbo].[CustomerOrders] ADD  CONSTRAINT [DF_CustomerOrders_OrderNo]  DEFAULT ([dbo].[getCustomerOrderNo]()) FOR [OrderNo]
GO
ALTER TABLE [dbo].[HeadquartersEmployees] ADD  CONSTRAINT [DF_HeadquartersEmployees_EmployeeID]  DEFAULT ([dbo].[getHeadquartersEmployeeID]()) FOR [EmployeeID]
GO
ALTER TABLE [dbo].[SalesOrders] ADD  CONSTRAINT [DF_SalesOrders_SNo]  DEFAULT ([dbo].[getSalesOrderNo]()) FOR [SNo]
GO
ALTER TABLE [dbo].[WarehouseOrders] ADD  CONSTRAINT [DF_WarehouseOrders_WNo]  DEFAULT ([dbo].[getWarehouseOrderNo]()) FOR [WNo]
GO
ALTER TABLE [dbo].[CustomerOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_CustomerOrderDetails_ItemNo] FOREIGN KEY([ItemNo])
REFERENCES [dbo].[Items] ([ItemNo])
GO
ALTER TABLE [dbo].[CustomerOrderDetails] CHECK CONSTRAINT [FK_CustomerOrderDetails_ItemNo]
GO
ALTER TABLE [dbo].[CustomerOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_CustomerOrderDetails_OrderNo] FOREIGN KEY([OrderNo])
REFERENCES [dbo].[CustomerOrders] ([OrderNo])
GO
ALTER TABLE [dbo].[CustomerOrderDetails] CHECK CONSTRAINT [FK_CustomerOrderDetails_OrderNo]
GO
ALTER TABLE [dbo].[CustomerOrders]  WITH CHECK ADD  CONSTRAINT [FK_CustomerOrders_CustomerOrders] FOREIGN KEY([OrderNo])
REFERENCES [dbo].[CustomerOrders] ([OrderNo])
GO
ALTER TABLE [dbo].[CustomerOrders] CHECK CONSTRAINT [FK_CustomerOrders_CustomerOrders]
GO
ALTER TABLE [dbo].[SalesOrders]  WITH CHECK ADD  CONSTRAINT [FK_SalesOrders_OrderNo] FOREIGN KEY([OrderNo])
REFERENCES [dbo].[CustomerOrders] ([OrderNo])
GO
ALTER TABLE [dbo].[SalesOrders] CHECK CONSTRAINT [FK_SalesOrders_OrderNo]
GO
ALTER TABLE [dbo].[WarehouseOrders]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseOrders_OrderNo] FOREIGN KEY([OrderNo])
REFERENCES [dbo].[CustomerOrders] ([OrderNo])
GO
ALTER TABLE [dbo].[WarehouseOrders] CHECK CONSTRAINT [FK_WarehouseOrders_OrderNo]
GO
ALTER TABLE [dbo].[WarehouseOrders]  WITH CHECK ADD  CONSTRAINT [FK_WarehouseOrders_Sno] FOREIGN KEY([SNo])
REFERENCES [dbo].[SalesOrders] ([SNo])
GO
ALTER TABLE [dbo].[WarehouseOrders] CHECK CONSTRAINT [FK_WarehouseOrders_Sno]
GO
USE [master]
GO
